# Laravel
vendor
node_modules
storage/*.key
storage/oauth-private.key
storage/oauth-public.key

# Frontend
resources/js/node_modules
public/hot
public/storage
dist

# Database
database/*.sqlite
database/*.sqlite3

# Docker noise
Dockerfile
docker-compose.yml
docker-compose.override.yml

# Git
.git
.gitignore
